################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DVLD/UpgradeLog.htm
/DVLD/UpgradeLog2.htm
/DVLD/UpgradeLog3.htm
